.div1{
    
    align-items: center;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 50px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
}
.header1{
    background-color: rgb(0, 0, 0) !important;
    color: white;
    font-size: 35px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    
}
.card{
    text-align: left;
}
.cfoot{
    
    border-top: none;
    text-align: center;
}

