
.div1{
    
    align-items: center;
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 50px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
}
.table1{
   width: 100%; 
  border: 1px solid black;
   /* border-radius: 10px;  */
}
.colum1{
    padding: 5px;
   margin-top: 2px;
   margin-bottom: 2px;
}

.tabletitle{
    font-size: large;

}
tr:nth-child(odd) {background-color: #ebe9e7b0;}
tr:nth-child(even) {background-color: #ffffff;}

h1{
    padding-left: 10px;
    background-color: #000000;
    border: 1px solid black;
    color: #ffffff;
}
td{
    padding-left: 25px;
}